<h1><%= @cocktail.name %></h1>
<p>





<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %><br>
  <%= dose.description %><br>

  <%= link_to "remove", dose_path(dose), method: :delete, class: "btn btn-danger" %><br><br>


<% end %>

<% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>




</p>

<%= link_to 'add a new dose', new_cocktail_dose_path(@cocktail), class: "btn btn-warning" %>
<br>

<%= link_to 'Back', cocktails_path %>
