
    <div class="row">
      <div class="text-center">

        <h1 class="text-large"><%= @cocktail.name %></h1>


          <div class="cocktail_card col-xs-6 col-xs-offset-3">

            <div class="col-xs-6 padded">
              <% if @cocktail.photo? %>
                <%= cl_image_tag @cocktail.photo.path, width: 300, height: 450, crop: :fill %>
              <% end %>
            </div>
            <div class="col-xs-6">
              <% @cocktail.doses.each do |dose| %>
                <h2><%= dose.description %>...
                <%= dose.ingredient.name %>
                <%= link_to "X", dose_path(dose), method: :delete, class: "btn btn-sm btn-danger" %></h2>
                <br>
              <% end %>
            </div>
          <div class="text-center">
            <%= link_to 'add a new dose', new_cocktail_dose_path(@cocktail), class: "btn btn-warning" %>
            <br>

            <%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>



