<h1><%= @cocktail.name %></h1>
<p>




<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %><br>
  <%= dose.description %><br><br>

  <%= link_to "remove", dose_path(dose), method: :delete %>


<% end %>



</p>

<%= link_to 'add a new dose', new_cocktail_dose_path(@cocktail), class: "btn btn-warning" %>
<br>

<%= link_to 'Back', cocktails_path %>
